I see what happened üëç ‚Äî in your Markdown the **code block never got closed**, so everything after the first \`\`\`python got stuck inside the code fence.

Here‚Äôs the corrected, fully formatted Markdown version:

````markdown
# üé¨ More Data Manipulation in Pandas

Now that you‚Äôve explored and filtered your data, let‚Äôs level up by **sorting**, **renaming columns**, and even **adding new ones**!

---

## üîΩ Sorting by Columns
Want to see which movie made the most money?  
You can sort a DataFrame by a specific column using `.sort_values()`:

```python
box_office_sorted = movies.sort_values(by="box_office", ascending=False)
````

This sorts by the `box_office` column, highest to lowest.

To sort from low to high, just set `ascending=True`:

```python
box_office_sorted = movies.sort_values(by="box_office", ascending=True)
```

---

## üìù Renaming Columns

Suppose you want to rename the `"budget"` column to `"budget_usd"`:

```python
movies = movies.rename(columns={"budget": "budget_usd"})
```

‚ö†Ô∏è `.rename()` does not change the DataFrame in place unless you:

* assign it back (`movies = ...`)
* or use `inplace=True`

Renaming multiple columns at once:

```python
movies = movies.rename(columns={
    "budget": "budget_usd",
    "box_office": "box_office_usd"
})
```

---

## ‚ûï Adding Columns

### Example 1: Adding a `lead_actor` column

```python
movies['lead_actor'] = [
  "Keanu Reeves", 
  "Leonardo DiCaprio", 
  "Song Kang-ho",  
  "Matthew Broderick", 
  "Michelle Yeoh"
]
```

### Example 2: Adding a calculated column

```python
movies['budget (millions)'] = movies['budget'] / 1000000
```

Now you‚Äôve got budget figures in a **friendlier format (millions)**.

---

## üåü Summary

* Use `.sort_values()` to sort your DataFrame.
* Use `.rename()` to change column names.
* Add new columns directly with `df['new_column'] = ...`.
* New columns can come from lists **or** calculations based on existing columns.

---

```

In [1]:
import pandas as pd
app_data = {
    "app_name": [
        "YouTube", "TikTok", "Instagram", "Spotify", "Duolingo", "Twitter", "Headspace", "Discord", "Depop"
     ],
    "category": [
        "Video", "Social Media", "Social Media", "Music", "Education",
        "Social Media", "Health", "Communication", "Shopping"
    ],
    "rating": [
        4.7, 4.6, 4.5, 4.6, 4.7,
        4.3, None, 4.7, 4.4
    ],
    "downloads_millions": [
        5000, 3000, 3500, 2000, None,
        1500, 500, 600, 200
    ]
}
df=pd.DataFrame(app_data)
df

    app_name       category  rating  downloads_millions
0    YouTube          Video     4.7              5000.0
1     TikTok   Social Media     4.6              3000.0
2  Instagram   Social Media     4.5              3500.0
3    Spotify          Music     4.6              2000.0
4   Duolingo      Education     4.7                 NaN
5    Twitter   Social Media     4.3              1500.0
6  Headspace         Health     NaN               500.0
7    Discord  Communication     4.7               600.0
8      Depop       Shopping     4.4               200.0

In [4]:
df['downloaded']=[True, False, True, False, False, False, False, True, False]
df.sort_values(by="rating", ascending=False, inplace=True)
df.rename(columns={"app_name" : "name"}, inplace=True)
df.reset_index(drop=True, inplace=True)
df

        name       category  rating  downloads_millions  downloaded
0    YouTube          Video     4.7              5000.0        True
1   Duolingo      Education     4.7                 NaN       False
2    Discord  Communication     4.7               600.0        True
3     TikTok   Social Media     4.6              3000.0       False
4    Spotify          Music     4.6              2000.0       False
5  Instagram   Social Media     4.5              3500.0       False
6      Depop       Shopping     4.4               200.0       False
7    Twitter   Social Media     4.3              1500.0        True
8  Headspace         Health     NaN               500.0       False